*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px dashed #000; */
    font-family: Poppins;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #C6C6C6;
}

ion-icon{
    font-size: 26px;
    --ionicon-stroke-width: 26px;

}

:root {
    --text-color: #3D3D3D;
    --keycap-color: #848484;
    --keycap-border-color: #79777740;

    --keyboard-bg-color: #7E7E7E6B;
}

.container_kb{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    width: auto;
    height: auto;
    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--keyboard-bg-color);
}

.line-keys{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}


.keycaps{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    padding: 6px;
    border-radius: 6px;
    background-color: var(--keycap-color);
    box-shadow: 2px 2px 0px 2px var(--keycap-border-color);
}

.alert-capslock{
    display: none;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 26%;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(196, 1, 1);
}
.alert-capslock::after{
    content: "Caps lock ativo!";
}

.letter-keys{
    width: 50px;
    height: 50px;
}
.other-keys{
    width: 100px;
    height: 50px;
}

.space-key{
    width: 300px;
    height: 50px;
}

.active-keycap{
    color: var(--keycap-color);
    background-color: var(--text-color);
}

.uppercase {
    text-transform: uppercase;
}